PruebaSpringClienteHttpinvoker/target/
PruebaSpringMVC/target/
PruebaSpringService/target/
PruebaSpringWeb/target/
/PruebaSpringServiceRemote/target/
/PruebaSpringWebRemote/target/
/PruebaEJBService/target/
/PruebaService/target/
/PruebaEntity/target/
/PruebaJAX-RS/target/